<section class="content-header">
  <h1>
    Backup
  </h1>

</section>
<section class="content">

  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
      <!-- AREA CHART -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size:17px;">Copia de Seguridad</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <h4>Proyecto: </h4>
          <p>Comercial</p>
          <h4>Empresa: </h4>
          <p>Soluciones Innovadoras Peru S.A.C.</p>
          <h4>Desarrollado por: </h4>
          <p>www.incanatoit.com</p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->


    </div><!-- /.col (RIGHT) -->
  </div><!-- /.row -->

</section><!-- /.content -->

<script type="text/javascript">

  $('#liAcerca').addClass("treeview active");
</script>