<div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Empleados</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
                            
		                    <div class="col-sm-14"  id="VerForm">
                          <!--
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Categoria</h3>
            </div>
        </div>
      -->
        <form role="form" name="frmEmpleado" id="frmEmpleado" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12 left">
                    <div class="row">
                         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <label>Los campos con (*) son olbigatorios</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <input id="txtIdEmpleado" type="hidden" maxlength="50" class="form-control" name="txtIdEmpleado" placeholder="" autofocus="" />
                                <label>Apellidos (*):</label>
                                <input id="txtApellidos" type="text" maxlength="40" name="txtApellidos" required="" class="form-control" placeholder="Apellidos" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Nombre (*):</label>
                                <input id="txtNombre" type="text" maxlength="20" name="txtNombre" required="" class="form-control" placeholder="Nombre" autofocus="" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Tipo Documento (*):</label>
                                <select id="cboTipo_Documento" required="" name="cboTipo_Documento" class="form-control">

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Documento (*):</label>
                                <input id="txtNum_Documento" type="text" maxlength="20" name="txtNum_Documento" required="" class="form-control" placeholder="Número de documento" autofocus="" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Dirección:</label>
                                <input id="txtDireccion" type="text" maxlength="100" name="txtDireccion" placeholder="Ingrese la dirección" class="form-control" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Teléfono:</label>
                                <input id="txtTelefono" type="text" maxlength="20" name="txtTelefono" class="form-control" placeholder="Ingrese el teléfono" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Email:</label>
                                <input id="txtEmail" type="text" maxlength="70" name="txtEmail"  class="form-control" placeholder="Ingrese el email" autofocus="" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-12 left">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Fecha Nacimiento:</label>
                                <input id="txtFecha_Nacimiento" type="date" name="txtFecha_Nacimiento" class="form-control" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Foto (*):</label>
                                <input id="imagenEmp" type="file" class="form-control" name="imagenEmp" autofocus="" />
                            <input id="txtRutaImgEmp" type="text" class="form-control" name="txtRutaImgEmp" autofocus="" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label>Estado (*):</label>
                                <select class="form-control" required="" name="txtEstado" id="txtEstado">
                                  <option value="A">Activado</option>
                                  <option value="C">Cancelado</option>
                                  <option value="S">SuperAdmin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                            <div class="form-group has-success">
                                <label>Login (*):</label>
                                <input id="txtLogin" type="text" class="form-control" required="" maxlength="50" name="txtLogin" autofocus="" />

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                            <div class="form-group">
                                <div class="form-group has-success">
                                    <label>Clave (*):</label>
                                    <input id="txtClave" type="text" required="" class="form-control" maxlength="32" name="txtClave" autofocus="" />
                                    <input id="txtClaveOtro" type="text" class="form-control" maxlength="32" name="txtClaveOtro" autofocus="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">   

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                        <h5></h5>
                        <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Registrar</button>
                        <a href="Empleado.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                        <hr>
                        <span class="lead text-primary"></span>
                        
                    
                </div>
            </div>
        </form>
    </div>
<button class="btn btn-primary" id="btnNuevo"><i class="fa fa-file"></i> Nuevo</button>


		                    <br><br>
		                    <div id="VerListado" class="table-responsive">


            		<table id="tblEmpleado" class="table table-striped table-bordered table-condensed table-hover" cellspacing="0" cellpadding="0" width="100%">
                    <thead>
                        <tr>
                        	<th>#</th>
                            <th>Apellidos</th>
                            <th>Documento</th>
                            <th>Num. Documento</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Login</th>
                            <th>Foto</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Apellidos</th>
                            <th>Documento</th>
                            <th>Num. Documento</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Login</th>
                            <th>Foto</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="empleado">

                    </tbody>
                </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->

<script type="text/javascript">
    
    $('#liMantenimiento').addClass("treeview active");
    $('#liEmpleados').addClass("active");

</script>
