<div class="box">
        <div class="box-header with-border">
                <div class="box-header with-border">
                  <h3 class="box-title" id="lblTitle" >Ingresos Almacén</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
            </div>
                <!--  /.box-header -->
                <div class="box-body">
                  	<div class="row">
	                  	<div class="col-md-12">
		                    <!--Contenido-->
		                    <div class="col-sm-14"  id="VerForm">
        <form  name="frmIngresos" id="frmIngresos" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0 main">
                    <div class="row">
                        <?php
                            if ($_SESSION["tipo_usuario"] == "Administrador" || $_SESSION["superadmin"] == "S") {
                        ?>
                        <div class="col-lg-8 left">
                            <label for="inputMarca">Sucursal:</label>
                            <div class="form-group has-success">
                                
                                <div class="input-group">
                                    <input id="txtSucursal" type="text" value="<?php echo $_SESSION["sucursal"] ?>" class="form-control" name="txtSucursal" required="" placeholder="Seleccione una Sucursal" autofocus="" disabled/>
                                    <span class="input-group-btn" >
                                          <button type="button" class="btn btn-success" id="btnBuscarSucursal" ><i class='fa fa-search'></i>
                                                        Buscar
                                          </button>
                                    </span>
                                </div>   
                            </div>
                        </div>
                        <?php } ?>
                        <div class="col-lg-8 left">
                            <label for="inputMarca">Proveedor:</label>
                            <div class="form-group has-success">
                                <input id="txtIdUsuario" type="hidden" value="<?php echo $_SESSION["idusuario"] ?>" maxlength="50" class="form-control" name="txtIdUsuario" required="" placeholder="" autofocus="" />

                                <input id="txtIdSucursal" type="hidden" value="<?php echo $_SESSION["idsucursal"] ?>" maxlength="50" class="form-control" name="txtIdSucursal" required="" placeholder="" autofocus="" />

                                <input id="txtIdProveedor" type="hidden" class="form-control" name="txtIdProveedor" required="" placeholder="" autofocus="" />
                                <div class="input-group">
                                    <input id="txtProveedor" type="text" class="form-control" name="txtProveedor" required="" placeholder="Seleccione un Proveedor" autofocus="" disabled/>
                                    <span class="input-group-btn" >
                                          <button type="button" class="btn btn-success" id="btnBuscarProveedor" ><i class='fa fa-search'></i>
                                                        Buscar
                                          </button>
                                    </span>
                                </div>   
                            </div>
                        </div>
                        <div class="col-lg-4 left">
                            <label for="inputPlaca">Impuesto</label>
                            <div class="form-group">
                                <div class="input-group has-success">
                                    <input id="txtImpuesto" type="text" class="form-control" style="text-align:center;" name="txtImpuesto" disabled/>
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="col-lg-5 left">
                            <label for="inputMarca">Tipo Comprobante:</label>
                            <div class="form-group  has-success">
                                
                                <select id="cboTipoComprobanteIng" name="cboTipoComprobante" class="form-control" required >

                                </select>
                            </div>
                        </div>                    
                        <div class="col-lg-3 left">
                            <label for="inputPlaca">Serie/Folio:</label>
                            <div class="form-group has-success">
                                <input id="txtSerie" type="text" class="form-control" style="text-align:center;" name="txtSerie" maxlength="7" required />
                            </div>
                        </div>
                        <div class="col-lg-4 left">
                            <label for="inputPlaca">Número:</label>
                            <div class="form-group has-success">
                                    <input id="txtNumero" type="text" class="form-control" style="text-align:center;" name="txtNumero" maxlength="10" required />
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" id="btnVerArticulos">
                        <div class="col-lg-6 left">
                            <div class="form-group">
                                <button type="button" id="btnBuscarArt" class="btn btn-info"><i class='fa fa-search'></i>
                                     Buscar Artículos </button>
                            </div>
                        </div>
                    </div>
                <div >
            </div>
            </div>
            <div class="col-sm-9 col-lg-12 main">
                <div class="table-responsive">
                        <table cellpadding="0" class="table table-striped table-bordered" cellspacing="0" border="1" class="display" id="tblDetalleIngreso">
                            <thead>
                                <tr>
                                    <th>Artículo</th>
                                    <th>Codigo</th>
                                    <th>Serie</th>
                                    <th>Descripcion</th>
                                    <th>Stock Ingreso</th>
                                    <th>P. Compra</th>
                                    <th>P. Venta Distribuidor</th>
                                    <th>P. Venta Publico</th>
                                    <th>Opción</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                </div>
            </div>
                    <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2 main">
                    <div class="row">
                        <div class="col-lg-4 left">
                            <div class="input-group has-error">
                                <div id="SubTotal" class="input-group-addon"></div>
                                <input type="text" class="form-control" id="txtSubTotal" name="txtSubTotal" placeholder="Sub Total" disabled>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 left  has-error">
                            <div class="input-group">
                                <div id="IGV" class="input-group-addon"></div>
                                <input type="text" class="form-control" id="txtIgv" name="txtIgv" placeholder="Impuesto" disabled>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 left has-error">
                            <div class="input-group">
                                <div id="Total" class="input-group-addon"></div>
                                <input type="text" class="form-control" id="txtTotal" name="txtTotal" placeholder="Total" disabled>
                                
                            </div>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="col-lg-12 left">
                        <h5></h5>
                        <button class="btn btn-success" type="submit" id="btnRegistrarIng"><i class="fa fa-floppy-o"></i> Registrar</button>
                        <a href="Ingreso.php" class="btn btn-primary" ><i class="fa fa-remove"></i> Cancelar</a>
                        <hr>
                        <span class="lead text-primary"></span>
                    </div>
                
                <br><br>
            </div>
        </form>
    </div>
<button class="btn btn-primary" id="btnNuevo"><i class="fa fa-file"></i> Nuevo</button>
    <br><br>
                            <div id="VerListado" class="table-responsive">


        <table id="tblIngresos" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Proveedor</th>
                    <th>T. Comprobante</th>
                    <th>Serie</th>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th>Impuesto</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
     
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Proveedor</th>
                    <th>T. Comprobante</th>
                    <th>Serie</th>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th>Impuesto</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
     
            <tbody id="Ingreso">

            </tbody>
        </table>
</div>
		                    <!--Fin-Contenido-->
                  		</div>
                  	</div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->

<div id="modalListadoProveedor" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Listado de Proveedores</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
        <table id="tblProveedores" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Tipo de Documento</th>
                            <th>N° de Documento</th>
                            <th>E-Mail</th>
                            <th>N° de Cuenta</th>
                        </tr>
                    </thead>             
                    <tfoot>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Tipo de Documento</th>
                            <th>N° de Documento</th>
                            <th>E-Mail</th>
                            <th>N° de Cuenta</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="Proveedor">

                    </tbody>
                </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cerrar</button>
        <button type="button" id="btnAgregarProveedor" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalListadoSucursal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Listado de Sucursales</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
        <table id="tblSucursales" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Razón Social</th>
                            <th>Documento</th>
                            <th>Dirección</th>
                            <th>E-Mail</th>
                            <th>Logo</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Razón Social</th>
                            <th>Documento</th>
                            <th>Dirección</th>
                            <th>E-Mail</th>
                            <th>Logo</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="Sucursales">

                    </tbody>
                </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cerrar</button>
        <button type="button" id="btnAgregarSucursal" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
      </div>
    </div>
  </div>
</div>

<form id="form1">
<div id="modalListadoArticulos" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Listado de Articulos</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
        <table id="tblArticulosIng" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Categoria</th>
                            <th>U. Medida</th>
                            <th>Articulo</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
             
                    <tfoot>
                        <tr>
                            <th>Seleccione</th>
                            <th>#</th>
                            <th>Categoria</th>
                            <th>U. Medida</th>
                            <th>Articulo</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                        </tr>
                    </tfoot>
             
                    <tbody id="ArticuloIng" style="text-align:center;">

                    </tbody>
                </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cerrar</button>
       <!-- <button type="button" id="btnAgregarArt" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>-->
      </div>
    </div>
  </div>
</div>

</form>

<script type="text/javascript">
    
    $('#liCompras').addClass("treeview active");
    $('#liIng').addClass("active");

</script>